{
  "openapi": "3.0.3",
  "info": {
    "title": "Viewer API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://quick.bot/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.quick.bot/api"
  },
  "paths": {
    "/v1/bots/{publicId}/startChat": {
      "post": {
        "operationId": "startChat",
        "summary": "Start chat",
        "parameters": [
          {
            "in": "path",
            "name": "publicId",
            "description": "[Where to find my bot's public ID?](https://docs.quick.bot/api/authentication#how-to-find-my-publicid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my bot's public ID?](https://docs.quick.bot/api/authentication#how-to-find-my-publicid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "attachedFileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Can only be provided if current input block is a text input block that allows attachments"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "audio"
                            ]
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "description": "Can only be provided if current input block is a text input that allows audio clips"
                      }
                    ],
                    "description": "Only provide it if your flow starts with an input block and you'd like to directly provide an answer to it."
                  },
                  "isStreamEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "If enabled, you will be required to stream OpenAI completions on a client and send the generated response back to the API."
                  },
                  "resultId": {
                    "type": "string",
                    "description": "Provide it if you'd like to overwrite an existing result."
                  },
                  "isOnlyRegistering": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to `true`, it will only register the session and not start the bot. This is used for 3rd party chat platforms as it can require a session to be registered before sending the first message."
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.]https://docs.quick.bot/builder/editor/variables#prefilled-variables../editor/variables#prefilled-variables)",
                    "example": {
                      "First name": "John",
                      "Email": "john@gmail.com"
                    }
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  },
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continueChat requests."
                    },
                    "resultId": {
                      "type": "string"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "$ref": "#/components/schemas/theme"
                        },
                        "settings": {
                          "$ref": "#/components/schemas/settings"
                        },
                        "publishedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "buttons input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "stripe": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "buttons input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the bot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "sessionId",
                    "bot",
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/continueChat": {
      "post": {
        "operationId": "continueChat",
        "summary": "Continue chat",
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "description": "The session ID you got from the [startChat](./start-chat) response.",
            "schema": {
              "type": "string",
              "description": "The session ID you got from the [startChat](./start-chat) response."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "attachedFileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Can only be provided if current input block is a text input block that allows attachments"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "audio"
                            ]
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "description": "Can only be provided if current input block is a text input that allows audio clips"
                      }
                    ]
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "buttons input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "stripe": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "buttons input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the bot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bots/{botId}/preview/startChat": {
      "post": {
        "operationId": "startChatPreview",
        "summary": "Start preview chat",
        "description": "Use this endpoint to test your bot. The answers will not be saved. And some blocks like \"Send email\" will be skipped.",
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "description": "[Where to find my bot's ID?](https://docs.quick.bot/api/authentication#how-to-find-my-botid)",
            "schema": {
              "type": "string",
              "description": "[Where to find my bot's ID?](https://docs.quick.bot/api/authentication#how-to-find-my-botid)"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isStreamEnabled": {
                    "type": "boolean",
                    "default": false
                  },
                  "message": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "attachedFileUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Can only be provided if current input block is a text input block that allows attachments"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "audio"
                            ]
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "description": "Can only be provided if current input block is a text input that allows audio clips"
                      }
                    ]
                  },
                  "isOnlyRegistering": {
                    "type": "boolean",
                    "description": "If set to `true`, it will only register the session and not start the bot. This is used for 3rd party chat platforms as it can require a session to be registered before sending the first message.",
                    "default": false
                  },
                  "bot": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/botV5"
                      },
                      {
                        "$ref": "#/components/schemas/botV6"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "version",
                      "mapping": {
                        "3": "#/components/schemas/botV5",
                        "4": "#/components/schemas/botV5",
                        "5": "#/components/schemas/botV5",
                        "6": "#/components/schemas/botV6"
                      }
                    },
                    "description": "If set, it will override the bot that is used to start the chat."
                  },
                  "startFrom": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "group"
                            ]
                          },
                          "groupId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "groupId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "event"
                            ]
                          },
                          "eventId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "eventId"
                        ]
                      }
                    ]
                  },
                  "prefilledVariables": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "[More info about prefilled variables.]https://docs.quick.bot/builder/editor/variables#prefilled-variables../editor/variables#prefilled-variables)",
                    "example": {
                      "First name": "John",
                      "Email": "john@gmail.com"
                    }
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "If provided, will be used as the session ID and will overwrite any existing session with the same ID."
                  },
                  "textBubbleContentFormat": {
                    "type": "string",
                    "enum": [
                      "richText",
                      "markdown"
                    ],
                    "default": "richText"
                  },
                  "platform": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "To save and use for /continueChat requests."
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "theme": {
                          "$ref": "#/components/schemas/theme"
                        },
                        "settings": {
                          "$ref": "#/components/schemas/settings"
                        },
                        "publishedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "theme",
                        "settings"
                      ]
                    },
                    "lastMessageNewFormat": {
                      "type": "string",
                      "description": "The sent message is validated and formatted on the backend. For example, if for a date input you replied something like `tomorrow`, the backend will convert it to a date string. This field returns the formatted message."
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/textMessage"
                              },
                              {
                                "$ref": "#/components/schemas/imageMessage"
                              },
                              {
                                "$ref": "#/components/schemas/videoMessage"
                              },
                              {
                                "$ref": "#/components/schemas/audioMessage"
                              },
                              {
                                "$ref": "#/components/schemas/embedMessage"
                              },
                              {
                                "$ref": "#/components/schemas/customEmbedMessage"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "type",
                              "mapping": {
                                "text": "#/components/schemas/textMessage",
                                "image": "#/components/schemas/imageMessage",
                                "video": "#/components/schemas/videoMessage",
                                "audio": "#/components/schemas/audioMessage",
                                "embed": "#/components/schemas/embedMessage",
                                "custom-embed": "#/components/schemas/customEmbedMessage"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "input": {
                      "allOf": [
                        {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/textInput"
                                },
                                {
                                  "$ref": "#/components/schemas/buttonsInput"
                                },
                                {
                                  "$ref": "#/components/schemas/email"
                                },
                                {
                                  "$ref": "#/components/schemas/numberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/url"
                                },
                                {
                                  "$ref": "#/components/schemas/phoneNumberInput"
                                },
                                {
                                  "$ref": "#/components/schemas/dateInput"
                                },
                                {
                                  "$ref": "#/components/schemas/paymentInput"
                                },
                                {
                                  "$ref": "#/components/schemas/rating"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInput"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "text input": "#/components/schemas/textInput",
                                  "buttons input": "#/components/schemas/buttonsInput",
                                  "email input": "#/components/schemas/email",
                                  "number input": "#/components/schemas/numberInput",
                                  "url input": "#/components/schemas/url",
                                  "phone number input": "#/components/schemas/phoneNumberInput",
                                  "date input": "#/components/schemas/dateInput",
                                  "stripe": "#/components/schemas/paymentInput",
                                  "rating input": "#/components/schemas/rating",
                                  "file input": "#/components/schemas/fileInput"
                                }
                              }
                            },
                            {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/buttonsInputV5"
                                },
                                {
                                  "$ref": "#/components/schemas/fileInputV5"
                                }
                              ],
                              "discriminator": {
                                "propertyName": "type",
                                "mapping": {
                                  "buttons input": "#/components/schemas/buttonsInputV5",
                                  "file input": "#/components/schemas/fileInputV5"
                                }
                              }
                            }
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "prefilledValue": {
                              "type": "string"
                            },
                            "runtimeOptions": {
                              "type": "object",
                              "properties": {
                                "paymentIntentSecret": {
                                  "type": "string"
                                },
                                "amountLabel": {
                                  "type": "string"
                                },
                                "publicKey": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "paymentIntentSecret",
                                "amountLabel",
                                "publicKey"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "clientSideActions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/csaScriptToExecute"
                          },
                          {
                            "$ref": "#/components/schemas/csaRedirect"
                          },
                          {
                            "$ref": "#/components/schemas/csaChatwoot"
                          },
                          {
                            "$ref": "#/components/schemas/csaGa"
                          },
                          {
                            "$ref": "#/components/schemas/csaWait"
                          },
                          {
                            "$ref": "#/components/schemas/csaSetVariable"
                          },
                          {
                            "$ref": "#/components/schemas/csaStreamOpenAiChatCompletion"
                          },
                          {
                            "$ref": "#/components/schemas/csaExecWebhook"
                          },
                          {
                            "$ref": "#/components/schemas/csaInjectStartProps"
                          },
                          {
                            "$ref": "#/components/schemas/csaPixel"
                          },
                          {
                            "$ref": "#/components/schemas/csaStream"
                          },
                          {
                            "$ref": "#/components/schemas/csaCodeToExecute"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "scriptToExecute": "#/components/schemas/csaScriptToExecute",
                            "redirect": "#/components/schemas/csaRedirect",
                            "chatwoot": "#/components/schemas/csaChatwoot",
                            "googleAnalytics": "#/components/schemas/csaGa",
                            "wait": "#/components/schemas/csaWait",
                            "setVariable": "#/components/schemas/csaSetVariable",
                            "streamOpenAiChatCompletion": "#/components/schemas/csaStreamOpenAiChatCompletion",
                            "webhookToExecute": "#/components/schemas/csaExecWebhook",
                            "startPropsToInject": "#/components/schemas/csaInjectStartProps",
                            "pixel": "#/components/schemas/csaPixel",
                            "stream": "#/components/schemas/csaStream",
                            "codeToExecute": "#/components/schemas/csaCodeToExecute"
                          }
                        }
                      },
                      "description": "Actions to execute on the client side"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "details": {}
                        },
                        "required": [
                          "status",
                          "description"
                        ]
                      },
                      "description": "Logs that were saved during the last execution"
                    },
                    "dynamicTheme": {
                      "type": "object",
                      "properties": {
                        "hostAvatarUrl": {
                          "type": "string"
                        },
                        "guestAvatarUrl": {
                          "type": "string"
                        }
                      },
                      "description": "If the bot contains dynamic avatars, dynamicTheme returns the new avatar URLs whenever their variables are updated."
                    },
                    "progress": {
                      "type": "number",
                      "description": "If progress bar is enabled, this field will return a number between 0 and 100 indicating the current progress based on the longest remaining path of the flow."
                    }
                  },
                  "required": [
                    "sessionId",
                    "bot",
                    "messages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bots/{botId}/blocks/{blockId}/storage/upload-url": {
      "get": {
        "operationId": "getUploadUrl",
        "summary": "Get upload URL for a file",
        "description": "Used for the web client to get the bucket upload file.",
        "tags": [
          "Deprecated"
        ],
        "deprecated": true,
        "parameters": [
          {
            "in": "path",
            "name": "botId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "blockId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "filePath",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "fileType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presignedUrl": {
                      "type": "string"
                    },
                    "hasReachedStorageLimit": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "presignedUrl",
                    "hasReachedStorageLimit"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate-upload-url": {
      "post": {
        "operationId": "generateUploadUrlV1",
        "summary": "Generate upload URL",
        "description": "Used to upload anything from the client to S3 bucket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filePathProps": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "botId": {
                            "type": "string"
                          },
                          "blockId": {
                            "type": "string"
                          },
                          "resultId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "botId",
                          "blockId",
                          "resultId",
                          "fileName"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "sessionId",
                          "fileName"
                        ]
                      }
                    ]
                  },
                  "fileType": {
                    "type": "string"
                  }
                },
                "required": [
                  "filePathProps"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presignedUrl": {
                      "type": "string"
                    },
                    "formData": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "fileUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "presignedUrl",
                    "formData",
                    "fileUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v2/generate-upload-url": {
      "post": {
        "operationId": "generateUploadUrl",
        "summary": "Generate upload URL",
        "description": "Used to upload anything from the client to S3 bucket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "fileType": {
                    "type": "string"
                  }
                },
                "required": [
                  "sessionId",
                  "fileName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presignedUrl": {
                      "type": "string"
                    },
                    "formData": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "fileUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "presignedUrl",
                    "formData",
                    "fileUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/updateBot": {
      "post": {
        "operationId": "updateBotInSession",
        "summary": "Update bot in session",
        "description": "Update chat session with latest bot modifications. This is useful when you want to update the bot in an ongoing session after making changes to it.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/whatsapp/{credentialsId}/webhook": {
      "get": {
        "operationId": "whatsAppRouter-subscribeWebhook",
        "summary": "Subscribe webhook",
        "tags": [
          "WhatsApp"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "credentialsId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "hub.challenge",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "hub.verify_token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "whatsAppRouter-receiveMessage",
        "summary": "Message webhook",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "credentialsId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entry": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "object",
                                "properties": {
                                  "metadata": {
                                    "type": "object",
                                    "properties": {
                                      "phone_number_id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "phone_number_id"
                                    ]
                                  },
                                  "contacts": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "profile": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "profile"
                                      ]
                                    }
                                  },
                                  "messages": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "text"
                                              ]
                                            },
                                            "text": {
                                              "type": "object",
                                              "properties": {
                                                "body": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "body"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "text",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "button"
                                              ]
                                            },
                                            "button": {
                                              "type": "object",
                                              "properties": {
                                                "text": {
                                                  "type": "string"
                                                },
                                                "payload": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "text",
                                                "payload"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "button",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "interactive"
                                              ]
                                            },
                                            "interactive": {
                                              "type": "object",
                                              "properties": {
                                                "button_reply": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "title"
                                                  ]
                                                },
                                                "nfm_reply": {
                                                  "type": "object",
                                                  "properties": {
                                                    "response_json": {
                                                      "type": "string"
                                                    },
                                                    "body": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "response_json",
                                                    "body",
                                                    "name"
                                                  ]
                                                }
                                              }
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "interactive",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "image"
                                              ]
                                            },
                                            "image": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "caption": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "image",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "video"
                                              ]
                                            },
                                            "video": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "caption": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "video",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "audio"
                                              ]
                                            },
                                            "audio": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "audio",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "document"
                                              ]
                                            },
                                            "document": {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "caption": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "id"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "document",
                                            "timestamp"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "location"
                                              ]
                                            },
                                            "location": {
                                              "type": "object",
                                              "properties": {
                                                "latitude": {
                                                  "type": "number"
                                                },
                                                "longitude": {
                                                  "type": "number"
                                                }
                                              },
                                              "required": [
                                                "latitude",
                                                "longitude"
                                              ]
                                            },
                                            "timestamp": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "id",
                                            "type",
                                            "location",
                                            "timestamp"
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "metadata"
                                ]
                              }
                            },
                            "required": [
                              "value"
                            ]
                          }
                        }
                      },
                      "required": [
                        "changes"
                      ]
                    }
                  }
                },
                "required": [
                  "entry"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/clientLogs": {
      "post": {
        "operationId": "saveClientLogs",
        "summary": "Save logs",
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientLogs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "details": {}
                      },
                      "required": [
                        "status",
                        "description"
                      ]
                    }
                  }
                },
                "required": [
                  "clientLogs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "theme": {
        "type": "object",
        "properties": {
          "general": {
            "type": "object",
            "properties": {
              "font": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "Google"
                            ]
                          },
                          "family": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "Custom"
                            ]
                          },
                          "family": {
                            "type": "string"
                          },
                          "css": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "Deprecated, use `css` instead"
                          }
                        },
                        "required": [
                          "type"
                        ]
                      }
                    ]
                  }
                ]
              },
              "background": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "Color",
                      "Image",
                      "None"
                    ]
                  },
                  "content": {
                    "type": "string"
                  }
                }
              },
              "progressBar": {
                "type": "object",
                "properties": {
                  "isEnabled": {
                    "type": "boolean"
                  },
                  "color": {
                    "type": "string"
                  },
                  "backgroundColor": {
                    "type": "string"
                  },
                  "placement": {
                    "type": "string",
                    "enum": [
                      "top",
                      "bottom"
                    ]
                  },
                  "thickness": {
                    "type": "number"
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "fixed",
                      "absolute"
                    ]
                  }
                }
              }
            }
          },
          "chat": {
            "type": "object",
            "properties": {
              "container": {
                "type": "object",
[...]
