#A 256-bit key used to encrypt sensitive data. It is strongly recommended to generate a new one. The secret should be the same between builder and viewer.
ENCRYPTION_SECRET=SECRET_REMOVED
#Suppor bot URL
NEXT_PUBLIC_SUPPORT_BOT=https://viewer.quick.bot/quickbot-5cqsbwz
#The database URL
DATABASE_URL=postgresql://postgres:typebot@localhost:5432/typebot
DATABASE_DIRECT_URL=postgresql://postgres:typebot@localhost:5432/typebot
#The builder base URL. Should be the publicly accessible URL (i.e. https://app.quick.bot)
NEXTAUTH_URL=http://localhost:3000
#The viewer base URL. Should be the publicly accessible URL (i.e. https://viewer.quick.bot)
NEXT_PUBLIC_VIEWER_URL=http://localhost:3001
# #Environment variable used in the Vercel platform to identify the name of a specific project during the build process of an application
# VERCEL_BUILDER_PROJECT_NAME=quick-bot-builder
#This variable is required for the custom domain to work properly
NEXT_PUBLIC_VERCEL_VIEWER_PROJECT_NAME=quick-bot-viewer
# Authentication token used on the Vercel platform to publish custom domains
VERCEL_TOKEN=SECRET_REMOVED
# Is a unique identifier for a team in Vercel
VERCEL_TEAM_ID=SECRET_REMOVED
# SMTP credentials
NEXT_PUBLIC_SMTP_FROM=noreply@quick.bot
SMTP_USERNAME=your-smtp-username-here
SMTP_PASSWORD=SECRET_REMOVED
SMTP_HOST=email-smtp.us-east-2.amazonaws.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_AUTH_DISABLED=false
# CREDENTIALS AUTH
CREDENTIALS_AUTH=true
# S3
S3_ACCESS_KEY=your-s3-access-key-here
S3_SECRET_KEY=your-s3-secret-key-here
S3_BUCKET=quickbot-dev
S3_PORT=443
S3_ENDPOINT=s3.us-east-2.amazonaws.com
S3_SSL=true
S3_REGION=us-east-2
# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=SECRET_REMOVED
STRIPE_SECRET_KEY=SECRET_REMOVED
STRIPE_PERSONAL_PRICE_ID=price_1Q7a4zGBX1iL5M9BZe5BieXN
STRIPE_PERSONAL_CHATS_PRICE_ID=price_1Q7g4BGBX1iL5M9Bwut6jTas
STRIPE_BUSINESS_PRICE_ID=price_1Q7g5gGBX1iL5M9BEu2hwvBJ
STRIPE_BUSINESS_CHATS_PRICE_ID=price_1Q7gJpGBX1iL5M9BOv7bV6xc
STRIPE_ENTERPRISE_PRICE_ID=price_1QKPHyGBX1iL5M9B9acykRCi
STRIPE_ENTERPRISE_CHATS_PRICE_ID=price_1QKPLEGBX1iL5M9BYp3DKpY6
STRIPE_WEBHOOK_SECRET=SECRET_REMOVED
# Google OAuth credentials services@urbiport.com
NEXT_PUBLIC_GOOGLE_API_KEY=SECRET_REMOVED
GOOGLE_CLIENT_ID=SECRET_REMOVED
GOOGLE_CLIENT_SECRET=SECRET_REMOVED
# GIPHY
NEXT_PUBLIC_GIPHY_API_KEY=SECRET_REMOVED
# Playwright test
PLAYWRIGHT_GOOGLE_ACCESS_TOKEN=SECRET_REMOVED
PLAYWRIGHT_GOOGLE_REFRESH_TOKEN=SECRET_REMOVED
PLAYWRIGHT_STRIPE_PERSONAL_CUSTOMER_ID=cus_R2iVJ3XSv337wP
PLAYWRIGHT_STRIPE_BUSINESS_CUSTOMER_ID=cus_R4s2tzX9PYvNXs
PLAYWRIGHT_STRIPE_ENTERPRISE_CUSTOMER_ID=cus_RCorfy125pqmpX
# Required for Playwright tests
NODE_OPTIONS=--no-node-snapshot
# Sentry
NEXT_PUBLIC_SENTRY_DSN=SECRET_REMOVED
SENTRY_AUTH_TOKEN=SECRET_REMOVED
SENTRY_PROJECT=quickbot
SENTRY_ORG=urbiport
SENTRY_SUPPRESS_GLOBAL_ERROR_HANDLER_FILE_WARNING=1

#GITHUB
GITHUB_CLIENT_ID=534b549dd17709a743a2
GITHUB_CLIENT_SECRET=7adb03507504fb1a54422f6c3c697277cfd000a9

ACT_TEST=Example!
DOCKER_PASSWORD=
DOCKER_USERNAME=
GITHUB_TOKEN=
NPM_TOKEN=
