


button,
input,
textarea {
  font-weight: 300;
}


a {
  text-decoration: underline;
}


ul,
ol {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li:not(:last-child) {
  margin-bottom: 8px;
}


pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}


.slate-bold {
  font-weight: bold;
}

.slate-italic {
  font-style: oblique;
}

.slate-underline {
  text-decoration: underline;
}
